*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f8ff;
color:#222;
}

.container{
width:90%;
max-width:1200px;
margin:auto;
}

.navbar{
background:white;
padding:18px 0;
box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.navbar .container{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:30px;
font-weight:bold;
color:#2563eb;
}

nav a{
margin:0 12px;
text-decoration:none;
color:#333;
font-weight:600;
}

.join-btn{
background:#2563eb;
color:white;
padding:12px 22px;
border-radius:8px;
text-decoration:none;
}

.hero{
padding:80px 0;
}

.hero-content{
display:flex;
align-items:center;
justify-content:space-between;
gap:50px;
}

.left{
flex:1;
}

.left h1{
font-size:55px;
margin-bottom:20px;
}

.left p{
font-size:20px;
line-height:1.8;
margin-bottom:30px;
}

.hero-btn{
display:inline-block;
background:#2563eb;
padding:16px 30px;
border-radius:10px;
color:white;
text-decoration:none;
font-size:18px;
font-weight:bold;
}

.right{
flex:1;
}

.right img{
width:100%;
border-radius:20px;
box-shadow:0 20px 40px rgba(0,0,0,.2);
}
.stats{
padding:70px 0;
background:white;
}

.stats-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
}

.stat-card{
background:#ffffff;
padding:35px;
text-align:center;
border-radius:18px;
box-shadow:0 15px 40px rgba(0,0,0,.08);
transition:.4s;
}

.stat-card:hover{
transform:translateY(-10px);
}

.stat-card h2{
font-size:45px;
color:#2563eb;
margin-bottom:12px;
}

.stat-card p{
font-size:18px;
color:#555;
}
